body {
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

p {
    font-size: 25px;
    text-align: center;
}
#Imagem{
    width: 70%;
    border: 5px solid black;
    height: 60%;
}

#Imagem2{
    width: 20%;
    border: 2px solid black;
    height: 20%;
}

#Imagem3{
    width: 20%;
    border: 2px solid black;
    height: 20%;
}
#Imagem4{
        width: 20%;
        border: 2px solid black;
        height: 20%;
}
.Imagem2 {
    width: 15%;
    height: 10%;
}
.Imagem3 {
    width: 15%;
    height: 10%;
}
.Imagem4 {
    width: 15%;
    height: 10%;
}

.itens{
    background-color: #EA6272;
    color: black;
}

ol{
    display: inline-block;
    vertical-align: top;
    margin: 3%;
    list-style: none;
}
.fundo{
    background-image: url("Imagem1.jpg");
    opacity: 5%;
}
ul{
    background-image: url("Imagem1.jpg");
    opacity: 5%;
}