body {
    background-color: #EA6272;
    text-align: center;
}

<h1> {
    color: black;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

p {
    font-size: 25px;
    text-align: center;
}
#Imagem{
    width: 30%;
    border: 5px solid black;
    height: 20%;

}