body {
    text-align: center;
    background-image: url("Imagem.jpg");

}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

p {
    font-size: 25px;
    text-align: center;
}
#Imagem{
    width: 90%;
    border: 5px solid black;
    height: 60%;
}

#Imagem2{
    width: 20%;
    border: 2px solid black;
    height: 20%;
}

#Imagem3{
    width: 20%;
    border: 2px solid black;
    height: 20%;
}
#Imagem4{
        width: 20%;
        border: 2px solid black;
        height: 20%;
}

.itens{
    color: black;
}

ol{
    display: inline-block;
    vertical-align: top;
    margin: 3%;
    list-style: none;
}
